{include file="common/top" title="联系我们" keywords="" wrapclass="wrap-addr" /}
<style>
body{background:#f6f6f6;}
.wrap-addr{
	padding-bottom:12.5rem;
}
.wrap-addr .item{
	border-top:0.5px solid #E6E6E6;
	margin-top:1.5rem;
	background:#fff;
}
.wrap-addr .item li{
	border-bottom:0.5px solid #E6E6E6;
	padding:0 1.5rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.wrap-addr .item li.name{
	line-height:4.5rem;
	font-size:1.6rem;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
}
.wrap-addr .item li.name .left{
	color:#333;
	font-size:1.6rem;
}
.wrap-addr .item li.name .right{
	color:#666;
	font-size:1.5rem;
	text-align:right;
}
.wrap-addr .item li.addr{
	font-size:1.6rem;
	line-height:1.8rem;
	color:#333;
	padding:1.4rem 1.5rem;
}
.wrap-addr .item li.other{
	height:3.5rem;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
}
.wrap-addr .add-addr{
	background:#63B075;
	color:#fff;
	font-size:1.5rem;
	width:17rem;
	height:4.4rem;
	line-height:4.4rem;
	position:fixed;
	bottom:4.4rem;
	left:50%;
	margin-left:-8.5rem;
	text-align:center;
	border-radius:2.2rem;
}
</style>
<ul class="item">
	<li class="name">
		<div class="left">哈哈哈</div>
		<div class="right">13426268989</div>
	</li>
	<li class="addr">
		北京市朝阳区潘家园东里12号楼405北京市朝阳区潘家园东里12号楼405
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-selected"><i></i><label>默认地址</label></div></div>
		<div class="right"></div>
	</li>
</ul>
<ul class="item">
	<li class="name">
		<div class="left">哈哈哈</div>
		<div class="right">13426268989</div>
	</li>
	<li class="addr">
		北京市朝阳区潘家园东里12号楼405
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-selected"><i></i><label>默认地址</label></div></div>
		<div class="right"></div>
	</li>
</ul>
<ul class="item">
	<li class="name">
		<div class="left">哈哈哈</div>
		<div class="right">13426268989</div>
	</li>
	<li class="addr">
		北京市朝阳区潘家园东里12号楼405北京市朝阳区潘家园东里12号楼405
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-selected"><i></i><label>默认地址</label></div></div>
		<div class="right"></div>
	</li>
</ul>
<ul class="item">
	<li class="name">
		<div class="left">哈哈哈</div>
		<div class="right">13426268989</div>
	</li>
	<li class="addr">
		北京市朝阳区潘家园东里12号楼405北京市朝阳区潘家园东里12号楼405
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-selected"><i></i><label>默认地址</label></div></div>
		<div class="right"></div>
	</li>
</ul>
<ul class="item">
	<li class="name">
		<div class="left">哈哈哈</div>
		<div class="right">13426268989</div>
	</li>
	<li class="addr">
		北京市朝阳区潘家园东里12号楼405北京市朝阳区潘家园东里12号楼405
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-selected"><i></i><label>默认地址</label></div></div>
		<div class="right"></div>
	</li>
</ul>
<ul class="item">
	<li class="name">
		<div class="left">哈哈哈</div>
		<div class="right">13426268989</div>
	</li>
	<li class="addr">
		北京市朝阳区潘家园东里12号楼405北京市朝阳区潘家园东里12号楼405
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-selected"><i></i><label>默认地址</label></div></div>
		<div class="right"></div>
	</li>
</ul>
<div class="add-addr">新增地址</div>
<script>
	$('.add-addr').on('click', function(){
		location.href = '/wx_h5/user/addrsave';
	});
</script>
{include file="common/bottom" /}