{include file="common/top" title="联系我们" keywords="" wrapclass="wrap-addr" /}
<style>
body{background:#f6f6f6;}
.wrap-addr{
	padding-bottom:12.5rem;
}
.wrap-addr .item{
	border-top:0.5px solid #E6E6E6;
	margin-top:1.5rem;
	background:#fff;
}
.wrap-addr .item li{
	border-bottom:0.5px solid #E6E6E6;
	padding:0 1.5rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.wrap-addr .item li.name{
	line-height:4.5rem;
	font-size:1.6rem;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
}
.wrap-addr .item li.name .left{
	color:#333;
	font-size:1.6rem;
}
.wrap-addr .item li.name .right{
	color:#666;
	font-size:1.5rem;
	text-align:right;
}
.wrap-addr .item li.addr{
	font-size:1.6rem;
	line-height:1.8rem;
	color:#333;
	padding:1.4rem 1.5rem;
}
.wrap-addr .item li.other{
	height:3.5rem;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
}
.wrap-addr .item li.other .right img{
	width:2.4rem;
	height:2.4rem;
	float:right;
}
.wrap-addr .item li.other .right img.edit{
	margin-right:3.2rem;
}
.wrap-addr .add-addr{
	background:#63B075;
	color:#fff;
	font-size:1.5rem;
	width:17rem;
	height:4.4rem;
	line-height:4.4rem;
	position:fixed;
	bottom:4.4rem;
	left:50%;
	margin-left:-8.5rem;
	text-align:center;
	border-radius:2.2rem;
}
</style>
{foreach name="list" item="item"}
<ul class="item" data-id="{$item.id}">
	<li class="name">
		<div class="left">{$item.name}</div>
		<div class="right">{$item.phone}</div>
	</li>
	<li class="addr">
		{$item.province}{$item.city}{$item.addr}
	</li>
	<li class="other">
		<div class="left"><div class="radio-tag radio-tag-{if condition='$item.isdefault'}selected{else/}noselect{/if}"><i></i><label>默认地址</label></div></div>
		<div class="right clearFix">
			<img src="/wx_h5/img/icons/del.png" alt="" class="del" />
			<img src="/wx_h5/img/icons/edit.png" alt="" class="edit" />
		</div>
	</li>
</ul>
{/foreach}
<div class="add-addr">新增地址</div>
<script>
	$('.add-addr').on('click', function(){
		location.href = '/wx_h5/user/addrsave';
	});
	$('.item li.other .right img.edit').on('click', function(){
		var id = $(this).parent().parent().parent().data('id');
		location.href = '/wx_h5/user/addrsave?id=' + id;
	});
	$('.item li.other .right img.del').on('click', function(){
		var id = $(this).parent().parent().parent().data('id');
		$.post('/wx_h5/user/addrdel', {id:id}, function(){
			location.href = '/wx_h5/user/addr?time=' + new Date().getTime();
		});
	});
</script>
{include file="common/bottom" /}