{include file="common/top" title="联系我们" keywords="" wrapclass="wrap-contact" /}
<style>
body{background:#f6f6f6;}
.wrap-contact .item{
	width:34.5rem;
	height:13rem;
	background:#fff;
	padding:0 2rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:1.5rem auto 0;
}
.wrap-contact .item .title{
	padding-top:0.9rem;
	line-height:3.5rem;
	font-size:1.5rem;
	color:#333;
	border-bottom:0.5px solid #eee;
	margin:0 auto;
}
.wrap-contact .item ul{
	width:
}
.wrap-contact .item ul li{
	width:15rem;
	float:left;
	margin-top:1.4rem;
	height:2.4rem;
	display:flex;
	display:-webkit-flex;
}
.wrap-contact .item ul li span{
	line-height:2.4rem;
	font-size:1.4rem;
	color:#333;
	padding-left:0.9rem;
}
.wrap-contact .item ul li img{
	width:2.4rem;
	height:2.4rem
}
</style>
<div class="item">
	<div class="title">薛飞丽</div>
	<ul class="clearFix">
		<li>
			<img src="/wx_h5/img/icons/call.png" alt="" />
			<span>18146521223</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/phone.png" alt="" />
			<span>13661388177</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/qq.png" alt="" />
			<span>25538606</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/map.png" alt="" />
			<span>津浙苏鲁</span>
		</li>
	</ul>
</div>
<div class="item">
	<div class="title">杨祎</div>
	<ul class="clearFix">
		<li>
			<img src="/wx_h5/img/icons/call.png" alt="" />
			<span>1311970521</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/phone.png" alt="" />
			<span>13581693701</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/qq.png" alt="" />
			<span>369432924</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/map.png" alt="" />
			<span>京湘鄂闻桂晋</span>
		</li>
	</ul>
</div>
<div class="item">
	<div class="title">王长栋</div>
	<ul class="clearFix">
		<li>
			<img src="/wx_h5/img/icons/call.png" alt="" />
			<span>1362210690</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/phone.png" alt="" />
			<span>15101185344</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/qq.png" alt="" />
			<span>525665048</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/map.png" alt="" />
			<span>豫粤皖沪琼</span>
		</li>
	</ul>
</div>
<script>
</script>
{include file="common/bottom" /}