{include file="common/top" title="联系我们" keywords="" wrapclass="wrap-contact" /}
<style>
body{background:#f6f6f6;}
.wrap-contact .item{
	width:34.5rem;
	height:13rem;
	background:#fff;
	padding:0 2rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:1.5rem auto 0;
}
.wrap-contact .item .title{
	padding-top:0.9rem;
	line-height:3.5rem;
	font-size:1.5rem;
	color:#333;
	border-bottom:0.5px solid #eee;
	margin:0 auto;
}
.wrap-contact .item ul{
	width:
}
.wrap-contact .item ul li{
	width:15rem;
	float:left;
	margin-top:1.4rem;
	height:2.4rem;
	display:flex;
	display:-webkit-flex;
}
.wrap-contact .item ul li span,.wrap-contact .item ul li a{
	line-height:2.4rem;
	font-size:1.4rem;
	color:#333;
	padding-left:0.9rem;
	text-decoration:none;
}
.wrap-contact .item ul li img{
	width:2.4rem;
	height:2.4rem
}
</style>
{foreach name="list" item="item"}
<div class="item">
	<div class="title">{$item.name}</div>
	<ul class="clearFix">
		<li>
			<img src="/wx_h5/img/icons/call.png" alt="" />
			<a href="tel:{$item.office_phone}#mp.weixin.qq.com">{$item.office_phone}</a>
		</li>
		<li>
			<img src="/wx_h5/img/icons/phone.png" alt="" />
			<a href="tel:{$item.office_phone}#mp.weixin.qq.com">{$item.phone}</a>
		</li>
		<li>
			<img src="/wx_h5/img/icons/qq.png" alt="" />
			<span>{$item.qq}</span>
		</li>
		<li>
			<img src="/wx_h5/img/icons/map.png" alt="" />
			<span>{$item.addr}</span>
		</li>
	</ul>
</div>
{/foreach}
<script>
</script>
{include file="common/bottom" /}