{include file="common/top" title="约稿函" keywords="" wrapclass="wrap-draftletter" /}
<style>
body{background:#f6f6f6;}
.wrap-draftletter .con-wrap{
	width:34.5rem;
	background:#fff;
	position:relative;
	padding:0 2.5rem;
	margin:1.5rem auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.wrap-draftletter .con-wrap .title{
	font-size:1.5rem;
	color:#63B075;
	line-height:2.3rem;
	padding:2.1rem 0 1.1rem;
	text-align:center;
	width:30rem;
	margin:0 auto;
	border-bottom:0.5px solid #eee;
}
.wrap-draftletter .con-wrap .con{
	font-size:1.4rem;
	line-height:2.4rem;
	color:#333;
	padding:1rem 0;
}
</style>
<div class="con-wrap">
	<div class="title">关于编写<br/>《“十三五”高等院校精品规划教材》约稿函</div>
	<div class="con">
		<p>尊敬的老师：</p>
		<p>您好！</p>
		<p>北京交通大学出版社多年致力于高等院校教材的建设工作，年生产码洋过亿，有150多种图书获得国家级和省部级的奖励，始终坚持“为学校的教学、科研和学科建设服务，为国家教育事业的发展服务”的宗旨。我社拟面向各个专业出版“十三五”全国高职高专精品规划教材，从而构建一套完整体系的优秀教材。</p>
		<p>本期选题包括：经济学类、管理学类、工学类、文学类等。</p>
		<p>每系列教材包括公共课、专业基础课、专业课。根据学校情况，老师可自行拟定教材名称、适当调整。我社期望每套教材与同类教材相比，有着创新之处，并建议撰写周期不超过10个月。</p>
		<p>您若有出版教材的意向，请填写微信合作出版里选题申报表，目录，样章（本书中间章节）回传给相应编辑。社里统一审核，审核通过后与您签署正式的出版合同。</p>
		<p>适当介绍一下出版情况：</p>
		<p>1. 申报精品教材</p>
     	<p>北京交通大学出版社第五事业部出版的教材统一纳入“十三五”全国高职高专教育精品规划教材系列,并统一申报教育部的“普通高等教育‘十三五’国家级规划教材”。</p>
		<p>2. 发行力度
     	<p>在发行过程中，每本书都会抽取部分样书，用免费特快专递寄给全国各个本专科院校开设此类课程的授课老师，以期获得对方的使用。对方能够采用教材会增加本教材作者的版税，因课程设置不同等原因未能采用的，相当于出版社侧面宣传了作者本人和所在院校。同时针对一些用量大的学校，我们发行人员会主动去其学校倡导老师们使用。发行人员每年将书推广出去，作者每年就会有一个稳定收入。例如：我社于2008年11月出版了一本任务驱动模式的高职高专教材——《市场营销原理与操作》，截止到目前，销售量为10多万。类似的教材还很多，比如：《市场调查与分析》，《客户关系管理实务》等都发行的很好。</p>
		<p>3. 稿费及时结算</p>
		<p>发行人员在每一个发行季度结束后会立刻把销售情况统计出来，将稿酬及时支付到每位作者账户上，从不无故拖欠作者稿酬，因为我社想和老师们建立长期的合作关系。正是因为我社的诚实守信，客户资源很少流失（每年会在两个发行季度结算稿费，也就是每年都会结算两次的，在出版行业中很少有出版社以这种方式结算。）</p>
		<p>4. 销售数量公开化</p>
		<p>我社每重印一本书，都会在版权页上标明印数，完全公开销量，不会有欺骗老师的行为。如果您想了解印数的最新情况，可以登陆我们的网站，或在需要时让编辑寄样样书给您供您查看。</p>
		<p>5. 没有包销行为</p>
   		<p>我社对参与编写教材的老师没有包销规定，只是建议老师能使用自己编写的教材，毕竟自己编写的教材在使用起来会更得心应手一些，可以方便教学。</p>
    	<p>另外：在稿费支付方面，我社一般专业课等教材以普通版税点支付，公共课类以自用书版税点支付。</p>
    	<p>热烈欢迎各位长年任教的专业老师，有着卓越见识的学者、专家不吝赐稿。如果您已经在相关领域出版过相关教材有修改意向，也欢迎予以修改后（修改比例30%以上）在我社重新出版。我社保证做好所有的配套服务和发行推广工作。</p>
    	<p>祝各位老师身体健康、成果卓越！</p>
	</div>
</div>
<script>
	
</script>
{include file="common/bottom" /}