{include file="common/top" title="约稿函" keywords="" wrapclass="wrap-draftletter" /}
<style>
body{background:#f6f6f6;}
.wrap-draftletter .con-wrap{
	width:34.5rem;
	background:#fff;
	position:relative;
	padding:0 2.5rem;
	margin:1.5rem auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.wrap-draftletter .con-wrap .title{
	font-size:1.5rem;
	color:#63B075;
	line-height:2.3rem;
	padding:2.1rem 0 1.1rem;
	text-align:center;
	width:30rem;
	margin:0 auto;
	border-bottom:0.5px solid #eee;
}
.wrap-draftletter .con-wrap .con{
	font-size:1.4rem;
	line-height:2.4rem;
	color:#333;
	padding-top:1rem;
}
</style>
<div class="con-wrap">
	<div class="title">关于编写<br/>《“十三五”高等院校精品规划教材》约稿函</div>
	<div class="con">
		<p>尊敬的老师：</p>
		<p>您好！</p>
		<p>北京交通大学出版社多年致力于高等院校教材的建设工作，年生产码洋过亿，有150多种图书获得国家级和省部级的奖励，始终坚持“为学校的教学、科研和学科建设服务，为国家教育事业的发展服务”的宗旨。我社拟面向各个专业出版“十三五”全国高职高专精品规划教材，从而构建一套完整体系的优秀教材。</p>
		<p>本期选题包括：经济学类、管理学类、工学类、文学类等。</p>
		<p>每系列教材包括公共课、专业基础课、专业课。根据学校情况，老师可自行拟定教材名称、适当调整。我社期望每套教材与同类教材相比，有着创新之处，并建议撰写周期不超过10个月。</p>
		<p>您若有出版教材的意向，请填写微信合作出版里选题申报表，目录，样章（本书中间章节）回传给相应编辑。社里统一审核，审核通过后与您签署正式的出版合同。</p>
		<p>适当介绍一下出版情况：</p>
		<p>1. 申报精品教材</p>
     	<p>北京交通大学出版社第五事业部出版的教材统一纳入“十三五”全国高职高专教育精品规划教材系列,并统一申</p>
	</div>
</div>
<script>
	
</script>
{include file="common/bottom" /}