<link rel="stylesheet" href="/wx_h5/swiper/css/swiper.min.css">
<style>
.swiper-container {
  width: 100%;
  height: 15rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 93%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
	border-radius:1rem;
	width:100%;
	height:100%;
}
</style>
<div class="swiper-container">
  <div class="swiper-wrapper">
    {foreach name="banners" item="item"}
     <div class="swiper-slide red-slide">
     	<img src="{:formatUrl($item.img)}"/>
     </div>
    {/foreach}
    {foreach name="banners" item="item"}
     <div class="swiper-slide red-slide">
     	<img src="{:formatUrl($item.img)}"/>
     </div>
    {/foreach}
    {foreach name="banners" item="item"}
     <div class="swiper-slide red-slide">
     	<img src="{:formatUrl($item.img)}"/>
     </div>
    {/foreach}
  </div>
  <div class="swiper-pagination"></div>
</div>
<script src="/wx_h5/swiper/js/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
	slidesPerView: 'auto',
	spaceBetween: remToPx(0.5),
	centeredSlides: true,
	loop: true,
	pagination: {
	  el: '.swiper-pagination',
	  clickable: true,
	},
});
$('.swiper-slide a').on('click', function(){
	location.href = $(this).data('url');
})
</script>