<link rel="stylesheet" href="/wx_h5/swiper/css/swiper.min.css">
<style>
.swiper-banner {
  width: 100%;
  height: 12.5rem;
  padding-top:1rem;
}
.swiper-banner .swiper-slide {
  width: 35.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-banner .swiper-slide img{
	border-radius:1rem;
	width:100%;
	height:100%;
}
</style>
<div class="swiper-container swiper-banner">
  <ul class="swiper-wrapper">
    {foreach name="banners" item="item"}
     <li class="swiper-slide">
     	<img src="{:formatUrl($item.img)}" class="banner-img" data-url="{$item.url}"/>
     </li>
    {/foreach}
  </ul>
  <div class="swiper-pagination"></div>
</div>
<script src="/wx_h5/swiper/js/swiper.min.js"></script>
<script>
var swiperBanner = new Swiper('.swiper-banner', {
	slidesPerView: 'auto',
	spaceBetween: remToPx(0.6),
	centeredSlides: true,
	loop: true,
	autoplay: 2000,
	autoplayDisableOnInteraction:false
});
$('.banner-img').on('click', function(){
	location.href = $(this).data('url');
})
</script>