<style>
.bottom-nav{
	position:fixed;
	bottom:0;
	left:0;
	height:4.9rem;
	display:flex;
	justify-content:space-around;
	width:100%;
	background:#fff;
	z-index:100;
}
.bottom-nav  li{
	width:8rem;
	height:4.9rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.bottom-nav  li p{
	font-size:1rem;
	color:#ccc;
	line-height:1rem;
	margin-top:0.5rem;
	text-align:center;
}
.bottom-nav  li.cur p{
	color:#63B075;
}
.bottom-nav  li img{width:2.3rem;height:2.3rem;}
</style>
<ul class="bottom-nav">
	<li class="home" data-url="/wx_h5/index/index"><div><img src="/wx_h5/img/icons/home_no_selected.png" alt="" /><p>首页</p></div></li>
	<li class="study" data-url="/wx_h5/user/shelf"><div><img src="/wx_h5/img/icons/study_no_selected.png" alt=""/><p>书架</p></div></li>
	<li class="my" data-url="/wx_h5/user/index"><div><img src="/wx_h5/img/icons/my_no_selected.png" alt="" /><p>我的</p></div></li>
</ul>
<script>
	var curNav = '[cur]';
	var curLi = $('.' + curNav);
	curLi.find('img').attr('src', '/wx_h5/img/icons/'+curNav+'_selected.png');
	curLi.addClass('cur');
	$('.bottom-nav li').on('click', function(){
		location.href = $(this).data('url');
	});
</script>