{include file="common/top" title="图书详情" keywords="" wrapclass="wrap-book-get" /}
<link rel="stylesheet" href="/wx_h5/swiper/css/swiper.min.css">
<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.7.2/skins/default/aliplayer-min.css" />
<style>
body{background:#f6f6f6;}
html, body {
  position: relative;
  height: 100%;
}
.wrap-book-get .player{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:20rem;
	background:gray;
	display:none;
	z-index:10;
}
.wrap-book-get .top-nav{
	z-index:100;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:4.5rem;
	background:#fff;
	display:flex;
	display:-webkit-flex;
	flex-wrap:nowrap;
	-webkit-flex-wrap:nowrap;
	align-items:center;
	-webkit-align-items:center;
	font-size:1.4rem;
	padding:0 1.5rem;
}
.wrap-book-get .top-nav.normal{
	top:0;
}
.wrap-book-get .top-nav.video-nav{
	top:21rem;
}
.wrap-book-get .top-nav li{
	width:5.5rem;
	height:2.8rem;
	line-height:2.8rem;
	text-align:center;
	color:#63B075;
	border-radius:2.8rem;
}
.wrap-book-get .top-nav li.bigger{
	width:7rem;
}
.wrap-book-get .top-nav li.cur{
	background:#63B075;
	color:#fff;
}
.wrap-book-get .swiper-container {
  position:fixed;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
}
.wrap-book-get .swiper-slide {
  position:relative;
}
.wrap-book-get .description,
.wrap-book-get .ppt,
.wrap-book-get .demo-chapter,
.wrap-book-get .standard,
.wrap-book-get .papper,
.wrap-book-get .video{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
    overflow:hidden;
}
.wrap-book-get .description .scroller,
.wrap-book-get .ppt .scroller,
.wrap-book-get .demo-chapter .scroller,
.wrap-book-get .standard .scroller,
.wrap-book-get .papper .scroller,
.wrap-book-get .video .scroller{
	position:absolute;
	width:100%;
	min-height:100%;
}
.wrap-book-get .video .scroller{
	background:#fff;
}
.wrap-book-get  .con{
	margin-top:5.5rem;
	background:#fff;
	overflow:hidden;
	padding:1rem 1.6rem 6rem;
	font-size:16px;
}
.wrap-book-get .video  .con{
	border-top:26.5rem solid #f6f6f6;
	margin-top:0;
}
.wrap-book-get .description .book-img-wrap{
	position:relative;
	margin:5.5rem 0 0 7.5rem;
	width:22.1rem;
	height:30rem;
}
.wrap-book-get .description .book-img-wrap .book-img{
	width:22.1rem;
	height:30rem;
	position:relative;
	z-index:10;
}
.wrap-book-get .description .book-img-wrap .corner{
	width:3.2rem;
	height:2.5rem;
	position:absolute;
	right:0.05rem;
	top:0;
	z-index:11;
}
.wrap-book-get .description .book-img-wrap .border{
	width:1.6rem;
	height:30.1rem;
	position:absolute;
	right:-0.15rem;
	top:0;
}
.wrap-book-get .description .info{
	color:#333;
	font-size:1.4rem;
	line-height:1.4rem;
	padding:5.3rem 0 0 8rem;
}
.wrap-book-get .description .info li{
	margin-top:0.8rem;
}
.wrap-book-get .con img{
	max-width:100%;
	display:inline-block;
}
.wrap-book-get .download{
	position:fixed;
	right:1.7rem;
	bottom:10.2rem;
	width:5rem;
	height:5rem;
	z-index:1000;
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	-webkit-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
}
.wrap-book-get .download i{
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#fff;
	opacity:0.9;
	box-shadow:1px 1px 3px 0px rgba(6,0,1,0.2);
	-webkit-box-shadow:1px 1px 3px 0px rgba(6,0,1,0.2);
}
.wrap-book-get .download img{
	width:2.4rem;
	height:2.4rem;
	position:relative;
	z-index:1000;
}
.wrap-book-get .shelf-btn{
	position:fixed;
	bottom:1rem;
	left:0;
	width:100%;
	height:4.4rem;
	display:flex;
	display:-webkit-flex;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0 3rem;
	justify-content:center;
	-webkit-justify-content:center;
	z-index:1000;
}
.wrap-book-get .shelf-btn li{
	width:14.5rem;
	height:4.4rem;
	border-radius:4.4rem;
	border:0.5px solid #63B075;
	color:#63B075;
	font-size:1.5rem;
	line-height:4.4rem;
	text-align:center;
	background:#fff;
}
.wrap-book-get .video ul{
	padding:2.1rem 0 5.9rem;
}
.wrap-book-get .video ul li{
	margin-bottom:0.9rem;
	line-height:2.4rem;
	background:url('/wx_h5/img/icons/video_noplay.png') center left no-repeat content-box;
	background-size:2.4rem;
}
.wrap-book-get .video ul li.cur{
	background:url('/wx_h5/img/icons/video_play.png') center left no-repeat content-box;
	background-size:2.4rem;
}
.wrap-book-get .video ul li.cur p,.wrap-book-get .video ul li.cur span{color:#63B075;}
.wrap-book-get .video ul li p{
	font-size:1.5rem;
	color:#333;
	float:left;
	margin-left:3.3rem;
}
.wrap-book-get .video ul li span{
	font-size:1.3rem;
	color:#999;
	float:right;
}
.hide-bar{
	width:100%;
	height:1rem;
	background:#f6f6f6;
	z-index:10;
	position:fixed;
	left:0;
	top:20rem;
	display:none;
}
</style>
<div class="hide-bar"></div>
<ul class="top-nav">
	<li data-id="1" class="cur">简介</li>
	<li data-id="3">课件</li>
	<li data-id="4">样章</li>
	<li data-id="6">试卷</li>
	<li data-id="5" class="bigger">课程标准</li>
	{if condition="!$book.hasVideo"}<li data-id="2">视频</li>{/if}
</ul>
<div class="download" data-url="" style="display:none;">
	<i></i>
	<img src="/wx_h5/img/icons/download.png" alt="" />
</div>
<ul class="shelf-btn clearFix">
	{if condition="!$book.in_shelf"}<li data-type="1">放入书架</li>{/if}
	{if condition="!$book.get_chapter_demo"}<li data-type="2" {if condition="!$book.in_shelf"}style="margin-left:2.5rem;"{/if}>申请样书</li>{/if}
</ul>
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="description">
				<div class="scroller">
					<div class="con">
						<div class="book-img-wrap">
							<img src="{$book.img_list}" alt="" class="book-img" />
							<img src="/wx_h5/img/icons/corner_info.png" alt="" class="corner" />
							<img src="/wx_h5/img/icons/border_info.png" alt="" class="border" />
						</div>
						<ul class="info">
							<li>征订号：{$book.book_no}</li>
							<li>作者：{$book.author}</li>
							<li>定价：{$book.price}元</li>
							<li>出版时间：{$book.publishtime}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="ppt">
				<div class="scroller">
					<div class="con">
						{$book.ppt_img|raw}
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="demo-chapter">
				<div class="scroller">
					<div class="con">
						{$book.demo_chapter|raw}
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="paper">
				<div class="scroller">
					<div class="con">dfsdf
						{$book.paper_img|raw}
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="standard">
				<div class="scroller">
					<div class="con">
						{$book.standard|raw}
					</div>
				</div>
			</div>
		</div>
		{if condition="!$book.hasVideo"}
		<div class="swiper-slide">
			<div class="video">
				<div class="scroller">
					<div class="con">
						<ul>
							{foreach name="book.videos" item="item"}
							<li class="clearFix" data-vid="{$item.ali_vid}" data-id="{$item.id}">
								<p>{$item.title}</p><span>{$item.duration_text}</span>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{/if}
	</div>
</div>
<script src="/wx_h5/swiper/js/swiper.min.js"></script>
<script src="/wx_h5/js/iscroll.js"></script>
<script src="/wx_h5/js/clipboard.min.js"></script>
<script charset="utf-8" type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.7.2/aliplayer-min.js"></script>
<script>
var pptSourceUrl = '{$book.ppt_source}';
var paperSourceUrl = '{$book.paper_source}';
var curUrl = '';
var bookid = {$book.id};
var curVid = '{$curVid}';
var aliPlayer = false;
var swiper = new Swiper('.swiper-container',{
	on:{
		slideChange:function(){
			$('.top-nav li').removeClass('cur');
			$('.top-nav li').eq(this.activeIndex).addClass('cur');
			showNavCon($('.top-nav li').eq(this.activeIndex));
		}
	},
	passiveListeners : false,
	touchAngle:30,
    longSwipesRatio:0.1,
    threshold:20,
    followFinger:true,
});
$('.top-nav li').on('click', function(){
	var index = $(this).index();
	$('.top-nav li').removeClass('cur');
	$(this).addClass('cur');
	swiper.slideTo(index, 100*index, false);
	showNavCon($(this));
});
$('.shelf-btn li').on('click', function(){
	var index = $(this).data('type');
	var _this = $(this);
	switch(index){
	case 1://加入书架
		$.post('/wx_h5/user/putinshelf', {bookid:bookid}, function(res){
			if(res.errorcode == 0){
				showConfirm('加入书架成功');
				_this.hide();
			}else{
				showToast(res.msg);
			}
		});
		break;
	case 2://申请样书
		location.href = '/wx_h5/user/addrselect?bookid=' + bookid;
		break;
	}
});
function showNavCon(ele){
	var id = ele.data('id');
	if(id == 2){
		$('.top-nav').addClass('video-nav');
		$('.hide-bar').show();
		$('.player').show();
		playVideo(curVid);
	}else{
		$('.top-nav').removeClass('video-nav');
		$('.player').hide();
		$('.hide-bar').hide();
		destroyVideo();
	}
	switch(id){
	case 1://简介
		descScroll.refresh();
		$('.download').hide();
		break;
	case 2://视频
		$('.download').hide();
		break;
	case 3://课件
		if(pptSourceUrl){
			$('.download').show();
			curUrl = pptSourceUrl;
		}
		pptScroll.refresh();
		break;
	case 4://样章
		$('.download').hide();
		break;
	case 5://课程标准
		$('.download').hide();
		break;
	case 6://试卷
		if(paperSourceUrl){
			$('.download').show();
			curUrl = paperSourceUrl;
		}
		break;
	}
}
var descScroll = new IScroll('.description', {
    mouseWheel: false,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:true
});
var pptScroll = new IScroll('.ppt', {
    mouseWheel: false,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:true
});
var demoChapterScroll = new IScroll('.demo-chapter', {
    mouseWheel: false,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:true
});
var standardScroll = new IScroll('.standard', {
    mouseWheel: false,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:true
});
var paperScroll = new IScroll('.paper', {
    mouseWheel: false,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:true
});
if($('.video').lenght > 0){
	var videoScroll = new IScroll('.video', {
	    mouseWheel: false,
	    scrollbars: false,
	    preventDefault: true,
	    fadeScrollbars: true,
	    tap:true
	});
}
$(function(){
	var clipboard = new ClipboardJS('.download', {
        text: function() {
            return curUrl;
        }
    });
	clipboard.on('success', function(e) {
	    showConfirm(['下载地址已复制至剪贴板','请到电脑端下载']);
	});

	clipboard.on('error', function(e) {
	    console.error('Action:', e.action);
	    console.error('Trigger:', e.trigger);
	});
	descScroll.refresh();
});
function playVideo(vid){
	$.post('/wx_h5/media/videoplayauth', {vid:vid}, function(res){
		if(res.errorcode == 0){
			var cover = res.data.VideoMeta.CoverURL;
			var auth = res.data.PlayAuth;
			if(!aliPlayer){
				$('.wrap-book-get').append('<div class="player" id="player"></div>');
				aliPlayer = new Aliplayer({
			        id: 'player',
			        width: '100%',
			        height:remToPx(20),
			        autoplay: false,
			        vid : vid,
		            playauth : auth,
		            cover: cover,  
		            useH5Prism:true
			        },function(player){
			        	
			    	}
				);
				aliPlayer.on('play', function(){
					$('.player img').hide();
				});
				$('.player').show();
			}
		}else{
			showToast(res.msg);
		}
	});
}
function destroyVideo(){
	if(aliPlayer){
		aliPlayer.dispose();
		aliPlayer = null;
	}
}
</script>
{include file="common/bottom" /}