{include file="common/top" title="" metas='' /}
<link rel="stylesheet" type="text/css" href="/admin/cleanzone/js/jquery.gritter/css/jquery.gritter.css" />
 <link rel="stylesheet" type="text/css" href="/admin/cleanzone/js/jquery.niftymodals/css/component.css" />
<div class="page-head">
	<h2>图书分类列表</h2>
	<ol class="breadcrumb">
	  <li><a href="#">图书</a></li>
	  <li class="active">图书分类列表</li>
	</ol>
</div>	
<div class="cl-mcont">
	<div class="con-wrap">
		<form>
		<div class="form-group clearFix">
			<div class="col-sm-3">
				<label class="col-sm-4 control-label">编号:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="id" value="{$Request.get.id}" />
				</div>
			</div>
			<div class="col-sm-3">
				<label class="col-sm-4 control-label">分类名称:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="catename" value="{$Request.get.catename}" />
				</div>
			</div>
			<div class="col-sm-3">
				<label class="col-sm-4 control-label">教材类型:</label>
				<div class="col-sm-8">
					<select class="form-control" name="type">
						<option value="0">----选择----</option>
						<option value="1">本科精品</option>
						<option value="2">高职高专</option>
					</select>
				</div>
			</div>
			<script>
				$('select[name="type"]').val({$params.type??0});
			</script>
			<div class="col-sm-3">
				<button class="btn btn-info" type="submit">搜索</button>
			</div>
		</div>
		</form>
	</div>
	<div class="con-wrap">
		<div class="search-wrap">
			{if condition="checkAuth('bookcate-save')"}<a href="/admin/bookcate/save" class="btn btn-info pull-left" id="btn-add">添加</a>{/if}
			{if condition="checkAuth('bookcate-del')"}<a class="btn btn-default pull-right" id="btn-del">删除</a>{/if}
		</div>
		<table class="table table-bordered table-hover" id="main-table" >
			<thead>
				<tr>
					<th><input type="checkbox" data-id="0" class="check-all" /></th>
					<th>编号</th>
					<th>分类名称</th>
					<th>教材类型</th>
					<th>排序</th>
					<th>创建时间</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach name="list" item="item"}
				<tr data-id="{$item.id}" data-title="{$item.catename}">
					<td><input type="checkbox" data-id="{$item.id}" class="check" /></td>
					<td>{$item.id}</td>
					<td>{$item.catename}</td>
					<td>{$item.type_text}</td>
					<td class="order cursor-pointer">{$item.orderid}</td>
					<td>{notempty name="item.create_time"}{$item.create_time|date="Y-m-d H:i:s"}{/notempty}</td>
					<td class="center">
						{if condition="checkAuth('book-save')"}
						<a class="btn btn-primary btn-xs" href="/admin/bookcate/save?id={$item.id}" title="编辑">
							<i class="fa fa-pencil"></i>
						</a>{/if}
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
		{$pagination->render()|raw}
	</div>
</div>
<script>
	$('.check-all').on('click', function(){
		if(this.checked){
			$('.check').prop('checked', true);
		}else{
			$('.check').prop('checked', false);
		}
	});
	var checkLength = $('.check').length;
	$('.check').on('click', function(){
		if($('.check:checked').length == checkLength){
			$('.check-all').prop('checked', true);
		}else{
			$('.check-all').prop('checked', false);
		}
	});
	$('#btn-del').on('click', function(){
		var checked = $('.check:checked');
		if(checked.length <= 0){
			syhWarn('没有选择要删除的图书分类');
			return;
		}
		var ids = [];
		var titles = [];
		checked.each(function(index, ele){
			ids.push($(ele).data('id'));
			titles.push($(ele).parent().parent().data('title'));
		});
		ids = ids.join(',');
		titles = titles.join(',');
		syhConfirm('确定要删除图书分类 ' + titles + ' 吗？', function(flag){
			if(flag){
				$.post('/admin/book/del', {ids:ids}, function(res){
					if(res.errorcode == 0){
						syhSuccess('删除图书分类 ' + titles + ' 成功', function(){
							location.reload();;
						});
					}else{
						syhError(res.msg);
					}
				}, 'json');
			}
		});
	});
	$('#main-table .order').dblclick(function(){
		if(!$(this).data('flag')){
			$(this).data('flag', true);
			var orderid = $(this).html();
			$(this).html('<input type="text" class="inp-order" value="'+orderid+'" style="width:50px;" />');
			$('.inp-order').focus();
			$('.inp-order').blur(function(){
				$.post('/admin/bookcate/editorder', 
					{id:$(this).parent().parent().data('id'), orderid:this.value}, function(res){
					if(res.errorcode == 0){
						//location.reload();
					}else{
						syError(res.msg);
					}
				}, 'json');
				$(this).parent().data('flag', false);
				$(this).parent().html(this.value);
			});
		}
	});
</script>
<script type="text/javascript" src="/admin/cleanzone/js/jquery.niftymodals/js/jquery.modalEffects.js"></script>  
{include file="common/bottom" /}
