{include file="common/top" title="首页" keywords="" wrapclass="wrap-index" /}
<style>
body{background:#f6f6f6;}
.wrap-index .book-nav{
	display:flex;
	justify-content:space-between;
	padding:1.8rem 1.6rem 0;
}
.wrap-index .book-nav li{
	text-align:center;
	color:#333;
	line-height:1.3rem;
	font-size:1.3rem;
}
.wrap-index .book-nav li img{
	display:block;
	width:2.3rem;
	margin:0 auto;
	margin-bottom:0.5rem;
}
.wrap-index .con-title{
	padding:1.6rem 1.5rem 1.3rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.wrap-index .con-title h2{
	font-weight:normal;
	font-size:1.5rem;
	color:#63B075;
	line-height:1.8rem;
}
.wrap-index .con-title img{width:1.8rem;height:1.8rem;}
.wrap-index .book-recommend{
    position:relative;
    height: 16.2rem;
    overflow:hidden;
}
.wrap-index .book-recommend .scroller{
    position: absolute;
    min-width:110%;
    display:flex;
    flex-wrap:nowrap;
}
.wrap-index .book-recommend li{
	margin:0 0.5rem 0 1.5rem;
}
.wrap-index .book-recommend li p{
	line-height:1.6rem;
	font-size:1.2rem;
	color:#333;
	height:3rem;
	margin-top:0.8rem;
}
.wrap-index .book-recommend .img-wrap img{width:9.3rem;height:12.6rem;}
.wrap-index .draft-recommend{
	padding:0 1.5rem 5rem;
	position:relative;
	top:-1.5rem;
}
.wrap-index .draft-recommend li{
	padding:1.5rem 0;
	border-bottom:0.5px solid #ddd;
}
.wrap-index .draft-recommend li img{
	width:7rem;
	height:7rem;
	float:left;
	border-radius:0.5rem;
}
.wrap-index .draft-recommend li .con{
	float:right;
	width:25.3rem;
}
.wrap-index .draft-recommend li .con h3{
	margin:0.3rem 0 0.6rem;
	font-weight:normal;
	font-size:1.5rem;
	color:#333;
	line-height:2.5rem;
}
.wrap-index .draft-recommend li .con p{
	color:#666;
	font-size:1.3rem;
	line-height:1.8rem;
}
</style>
<div class="main-scroll-wrap">
<div class="main-scroller">
{include file="common/banner" /}
<ul class="book-nav">
	<li data-url="/wx_h5/book/index?type=2">
		<img src="/wx_h5/img/icons/gaozhi.png" alt="" />
		<span>高职高专</span>
	</li>
	<li data-url="/wx_h5/book/index?type=1">
		<img src="/wx_h5/img/icons/benke.png" alt="" />
		<span>本科精品</span>
	</li>
	<li data-url="/wx_h5/book/index">
		<img src="/wx_h5/img/icons/all_book.png" alt="" />
		<span>全部书目</span>
	</li>
	<li data-url="/wx_h5/book/search">
		<img src="/wx_h5/img/icons/search.png" alt="" />
		<span>搜索</span>
	</li>
</ul>
<div class="con-title">
	<h2>书籍推荐</h2>
	<img id="book-more" src="/wx_h5/img/icons/more.png" alt="" />
</div>
<div class="book-recommend">
  <ul class="scroller">
  	{foreach name="books" item="book"}
    <li data-id="{$book.id}">
    	<div class="img-wrap">
    		<img src="{:formatUrl($book.img_list)}" alt="" />
    	</div>
    	<p>{$book.name}</p>
    </li>
    {/foreach}
  </ul>
</div>
<div class="con-title">
	<h2>文章精选</h2>
	<img id="draft-more" src="/wx_h5/img/icons/more.png" alt="" />
</div>
<ul class="draft-recommend">
	
</ul>
</div>
</div>
{include file="common/bottom_nav" cur="home" /}
<script src="/wx_h5/js/iscroll.js"></script>
<script src="/wx_h5/js/iscroll-probe.js"></script>
<script>
var dataLoading = false,
	curPage = 0;
getNexPageData();
var recommendSwiper = new Swiper('.swiper-recommend', {
	slidesPerView: 3,
	spaceBetween: 0,
	freeMode: true,
});
$('.book-recommend li').on('click', function(){
	location.href = '/wx_h5/book/get?id=' + $(this).data('id');
});
$('#book-more').on('click', function(){
	location.href = '/wx_h5/book/recommend'
});
$('#draft-more').on('click', function(){
	location.href = '/wx_h5/draft/listview'
});
var mainScroll = new IScroll('.main-scroll-wrap', {
    probeType: 3,
    mouseWheel: false,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:true
});
mainScroll.on('scrollEnd', function() {
    var height = this.y,
        bottomHeight = this.maxScrollY - height;
	if(!dataLoading && bottomHeight >= -100){
		getNexPageData();
	}
});
var cateScroll = new IScroll('.book-recommend', {
    probeType: 3,
    mouseWheel: true,
    scrollbars: false,
    preventDefault: true,
    fadeScrollbars: true,
    tap:false,
    scrollX:true,
    scrollY:false,
});
$('.book-nav li').on('tap', function(){
	location.href = $(this).data('url');
});
function getNexPageData(){
	if(!dataLoading){
		dataLoading = true;
		if(curPage == 0){
			$('.draft-recommend').html('');
		};
		$.get('/wx_h5/draft/recommend', {page:curPage + 1}, function(res){
			var lis = '';
			if(res.errorcode == 0){
				page = curPage + 1;
				var data = res.data;
				if(data.length<=0){
					dataLoading = false;
					return;
				}
				var lis = generateLis(data, page);
				$('.draft-recommend').append(lis);
				$('.draft-recommend li.page-' + page).on('tap', function () {
	                location.href = '/wx_h5/draft/get?id=' + $(this).data('id');
	            });
				loadedImg('.draft-recommend .page-' + page, function(){
					mainScroll.refresh();
				});
				curPage++;
			}else{
				
			}
			dataLoading = false;
		}, 'json');
	}
}
function generateLis(data, page){
	var lis = '';
	if(data.length <= 0) return lis;
	for(var i = 0; i < data.length; i++){
		var item = data[i];
		var digest = item.digest.length > 34 ? item.digest.substr(0, 34) + '...' : item.digest;
		lis +=  '<li class="clearFix page-'+page+'" data-id="'+item.id+'">' +
			'<img src="'+item.img_list+'" class="img-list" alt="" />' +
				'<div class="con">' +
					'<h3>'+item.title+'</h3>' +
					'<p>'+digest+'</p>' +
				'</div>' +
			'</li>';
	}
	return lis;
}
</script>
{include file="common/bottom" /}